* {
    font-family: sans-serif;
    background: #DDD;
}

/* IMAGES */
.responsive {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* TEXT FORMATTING */
h1,
h2 {
    margin-bottom: 0.25em;
}

h1 {
    text-align: center;
}

ul,
ol,
p {
    margin-top: 10px;
    margin-bottom: 10px;
}